.custom-toast-success {
  background-color: #232d3f !important;
  color: white !important;

  font-family: "Raleway", sans-serif !important;
}

.custom-toast-error {
  background-color: #232d3f !important;
  color: white !important;
  font-family: "Raleway", sans-serif !important;
}
.Toastify__close-button {
  color: white !important;
}
