@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost", sans-serif;
}

.pseuElemFrame {
  width: calc(100% - 9rem);
  height: calc(100% - 2rem);
}
@media (max-width: 900px) {
  .pseuElemFrame {
    width: calc(100% - 8rem);
    height: calc(100% - 2rem);
    right: 4rem;
    top: 10px;
  }
}
.pseudoText2 {
  display: none;
}
@media (max-width: 765px) {
  .homeBg {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .pseudoText {
    top: 10rem;
    left: 2rem;
    font-size: 10rem;
  }
  .pseudoText2 {
    display: block;
    left: 30rem;
    bottom: -1rem;
    font-size: 10rem;
  }
}
@media (max-width: 800px) {
  .pseuElemFrame {
    width: calc(100% - 7rem);
    height: calc(100% - 2rem);
    right: 3.5rem;
  }
}
@media (max-width: 570px) {
  .pseudoText {
    left: 2rem;
    font-size: 9rem;
  }
  .pseudoText2 {
    left: 24rem;
    bottom: 0.5rem;
    font-size: 8rem;
  }
}
@media (max-width: 450px) {
  .pseuElemFrame {
    width: calc(100% - 5rem);
    height: calc(100% - 2rem);
    right: 2.5rem;
    top: 0.2rem;
  }
  .pseudoText {
    left: 1rem;
    top: 8rem;
    font-size: 7rem;
  }
  .pseudoText2 {
    left: 15rem;
    bottom: 0.5rem;
    font-size: 6rem;
  }
  .homeBg {
    width: 22rem;
  }
}
.prodGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 12fr));
}

/* Sidebar.css */
.sidebar-enter {
  transform: translateX(100%);
}

.sidebar-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebar-exit {
  transform: translateX(0);
}

.sidebar-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
